html,
body {
  height: 100%;
  margin: 0
}

.win-h2{
	display: inline;
}

.flexbox{
	display: flex;
	flex-flow: column;
	height: 100%;
}

.header{
	background: #49D;
	padding: 20px;
	flex: 0 1 auto;
	animation-name: appeartop;
    animation-duration: 1s;
}

.mainbody{
	background: #333;
	padding: 20px;
	flex: 1 1 auto;
}

.bodycontent{
	position: absolute;              
   top: 50%;                     
   transform: translate(0, -50%);
   	animation-name: appearalpha;
    animation-duration: 2s;
	text-align: justify;
	z-index: 1;
	padding:30px;
}

.send{
	background: #06A;
	padding: 20px;
	flex: 0 1 auto;
	transition: height 0.5s ease-out;
	height:50px;
	z-index: 5;
}



.appearbutton{
	position:relative;
   	animation-name: appearbutton;
    animation-duration: 1s;
}

@keyframes appeartop {
    from {margin-top:-100%}
    to {margin-top:0px}
 }
 
 
 @keyframes appearalpha {
    0% {opacity: 0}
	50% {opacity: 0; margin-left:-30px}
    100% {opacity:1;margin-left:0px}
 }
 
 @keyframes appearbutton {
    from {top:100px;opacity:0}
    to {top:0px;opacity:1}
 }